#mapa {
	position: relative;
    max-height: 500px;
    max-width: 1000px;
}
    
  
  #infobox {
  	border-radius: 10px;
    position: absolute;
    padding: 10px;
    width: auto;
    max-width: 300px;
    height: auto;
    background-color: white;
    border: 1px solid #bdbdbd;
    font-size: 14px;
  }   
.infotitle {
	margin-top: 0px;
}
      